<script>

    function typingEffectComponent() {
        return {
            lines: [
                {text: '', cursor: {hidden: true, enabled: false}},
                {text: '', cursor: {hidden: true, enabled: false}}
            ],
            cursorToggleTime: 500,
            typingDelay: 100,
            init() {
                this.enableCursor(0)

                // typing scenario
                this.type(0, 'Hi, I\'m Konrad.<br> I break', 0).then(() => {
                    this.undo(0, 12, 1000).then(() => {
                        this.disableCursor(0)
                        this.enableCursor(1)
                        this.type(1, 'I program things.', 0)
                    })
                })

                // cursors blinking
                setInterval(() => {
                    this.lines.forEach((line, index) => this.lines[index].cursor.hidden = !line.cursor.hidden)
                }, this.cursorToggleTime);
            },
            type(lineNumber, text, wait) {
                return new Promise((resolve) => {
                    setTimeout(() => {
                        if (text.length === 0) {
                            resolve()
                        } else {
                            this.lines[lineNumber].text += text.charAt(0)
                            setTimeout(() => this.type(lineNumber, text.substring(1), 0).then(() => {
                                resolve()
                            }), this.typingDelay)
                        }
                    }, wait)
                })
            },
            undo(lineNumber, charsNumbers, wait) {
                return new Promise((resolve) => {
                    setTimeout(() => {
                        if (charsNumbers < 1) {
                            resolve()
                        } else {
                            this.lines[lineNumber].text = this.lines[lineNumber].text.substr(0, this.lines[lineNumber].text.length - 1)
                            setTimeout(() => this.undo(lineNumber, charsNumbers - 1, 0).then(() => {
                                resolve()
                            }), this.typingDelay)
                        }
                    }, wait)

                })
            },
            enableCursor(lineNumber) {
                this.lines[lineNumber].cursor.enabled = true
            },
            disableCursor(lineNumber) {
                this.lines[lineNumber].cursor.enabled = false
            }
        }
    }

</script>


<div x-cloak x-data="typingEffectComponent()" x-init="init">

    <template x-for="line in lines" :key="line">
        <div class="relative mx-4 h-auto">
            <div class="inline-block">
                <h1 class="text-7xl font-black" x-text="line.text"></h1>
            </div>
            <span class="absolute h-full w-3 ml-1 bg-black"
                  x-bind:class="{ 'hidden': line.cursor.hidden || !line.cursor.enabled }"></span>
        </div>
    </template>

</div>

