<script>

    function typingEffectComponent() {
        return {
            text: ['', ''],
            cursors: [{hidden: true, enabled: false}, {hidden: true, enabled: false}],
            cursorToggleTime: 500,
            typingDelay: 100,
            init() {
                this.enableCursor(0)
                setInterval(() => {
                    this.cursors.forEach((cursor, index) => this.cursors[index].hidden = !cursor.hidden)
                }, this.cursorToggleTime);

                this.type(0, 'Hi, I\'m Konrad.<br> I break', 0).then(() => {
                    this.undo(0, 12, 1000).then(() => {
                        this.disableCursor(0)
                        this.enableCursor(1)
                        this.type(1, 'I program things.', 0)
                    })
                })

            },
            type(lineNumber, text, wait) {
                return new Promise((resolve) => {
                    setTimeout(() => {
                        if (text.length === 0) {
                            resolve()
                        } else {
                            this.text[lineNumber] += text.charAt(0)
                            setTimeout(() => this.type(lineNumber, text.substring(1), 0).then(() => {
                                resolve()
                            }), this.typingDelay)
                        }
                    }, wait)
                })
            },
            undo(lineNumber, charsNumbers, wait) {
                return new Promise((resolve) => {
                    setTimeout(() => {
                        if (charsNumbers < 1) {
                            resolve()
                        } else {
                            this.text[lineNumber] = this.text[lineNumber].substr(0, this.text[lineNumber].length - 1)
                            setTimeout(() => this.undo(lineNumber, charsNumbers - 1, 0).then(() => {
                                resolve()
                            }), this.typingDelay)
                        }
                    }, wait)

                })
            },
            enableCursor(cursorId) {
                this.cursors[cursorId].enabled = true
            },
            disableCursor(cursorId) {
                this.cursors[cursorId].enabled = false
            }
        }
    }

</script>


<div x-cloak x-data="typingEffectComponent()" x-init="init">

    <div class="relative mx-4 h-auto">
        <div class="inline-block">
            <h1 class="text-7xl font-black" x-text="text[0]"></h1>
        </div>
        <span class="absolute h-full w-3 ml-1 bg-black"
              x-bind:class="{ 'hidden': cursors[0].hidden || !cursors[0].enabled }"></span>
    </div>

    <div class="relative mx-4 h-auto">
        <div class="inline-block">
            <h1 class="text-7xl font-black" x-text="text[1]"></h1>
        </div>
        <span class="absolute h-full w-3 ml-1 bg-black"
              x-bind:class="{ 'hidden': cursors[1].hidden || !cursors[1].enabled }"></span>
    </div>


</div>

