<div class="{{ 'lg:fixed' if path == 'home' }} w-full">
    <nav @keydown.escape="isOpen = false"
         class="flex items-center justify-center lg:justify-between flex-wrap p-6 lg:px-0 container mx-auto" x-data="{ isOpen: false }">
        <!--Logo etc-->
        <div class="flex items-center">
            <a class="text-indigo-500 font-bold text-lg" href="/">
                Konrad's Blog</a>
        </div>

        <!--Toggle button (hidden on large screens)-->
        <button :class="{ 'transition transform-180': isOpen }" @click="isOpen = !isOpen"
                aria-label="Menu"
                class="ml-auto block lg:hidden px-2 text-primary-500 hover:text-primary-500 focus:outline-none focus:text-primary-500" type="button">
            <svg class="h-6 w-6 fill-current" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" fill-rule="evenodd"
                      x-show="isOpen"/>
                <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" fill-rule="evenodd"
                      x-show="!isOpen"/>
            </svg>
        </button>

        <!--Menu-->
        <div :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
             @click.away="isOpen = false" class="w-full flex-grow lg:flex lg:items-center lg:w-auto text-center "
             x-show.transition="true">

            {% if navigation.items %}

            <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
                {% for item in navigation.items %}
                <li class="nav__item mr-3">
                    <a @click="isOpen = false"
                       class="text-ml inline-block text-gray-500 no-underline hover:text-indigo-500 py-2 px-4"
                       href="{{ item.url }}">{{ item.text }}</a>
                </li>
                {% endfor %}
            </ul>

            {% endif %}
        </div>
    </nav>
</div>